/*
    Document   : sidenavigation.scss
    Created on : Apr 6, 2016, 2:26:05 PM
    Author     : asawe

@import "../modules/colors";
@import "../modules/theme";
// We use this to control padding.
$side-nav-padding: rem-calc(14 0);

// We use these to control list styles.
$side-nav-list-type: none;
$side-nav-list-position: inside;
$side-nav-list-margin: rem-calc(0 0 7 0);

// We use these to control link styles.
$side-nav-link-color: $turquoise_blue;
$side-nav-link-color-active: scale-color($side-nav-link-color, $lightness: 30%);
$side-nav-link-color-hover: scale-color($side-nav-link-color, $lightness: 30%);
$side-nav-font-size: rem-calc(14);
$side-nav-font-weight: normal;
$side-nav-font-weight-active: $side-nav-font-weight;
$side-nav-font-family: $arial-font-stack;
$side-nav-font-family-active: $side-nav-font-family;

// We use these to control border styles
$side-nav-divider-size: 1px;
$side-nav-divider-style: solid;
$side-nav-divider-color: scale-color(#fff, $lightness: 10%);



* {
    box-sizing: border-box; 
}


.left {
    position:fixed; // keep fixed to window
    padding-top: 50px;
    top: 0; left: 0; // position to top left of window
    height:100%;  //set dimensions
    background:$kidnapper;
    transition: width ease .5s; // fluid transition when resizing



    ul {
        list-style:none;
        margin:0; padding:0;

        li {
            margin-bottom:25px;
        }
    }

    a {
        color:shade($kidnapper, 50%);
        color: $blaze_orange;
        text-decoration:none;
        border-bottom:1px solid transparent;
        transition:
            color ease .35s,
            border-bottom-color ease .35s;

        &:hover {
            color:white;
            border-bottom-color:white; 
        }
    }
}

*/


.navbar-fixed-left {
    width: 140px;
    position: fixed;
    padding-top: 50px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    height: 100%;
    background-color: $kidnapper;
    border-color:$kidnapper;
    .navbar-nav > li {
        float: none;
        width: 139px;
        > .dropdown-menu {
            margin-top: -50px;
            margin-left: 140px;
        }
    }


    .navbar-brand {
        float: left;
        color: $blaze_orange;
        padding: $navbar-padding-vertical $navbar-padding-horizontal;
        font-size: $font-size-large;
        line-height: $line-height-computed;
        height: $navbar-height;

        &:hover,
            &:focus {
            text-decoration: none;
        }

        > img {
            display: block;
        }

        @media (min-width: $grid-float-breakpoint) {
            .navbar > .container &,
            .navbar > .container-fluid & {
                margin-left: -$navbar-padding-horizontal;
            }
        }
    }
    
    .navbar-nav {
        > li > a {
            color: $jaffa;
            &:hover,
                &:focus {
                color: darken($jaffa, 6.5%);
                background-color: lighten($kidnapper, 6.5%);
            }
        }
        > .active > a {
            &,
            &:hover,
                &:focus {
                color: $jaffa;
                background-color: $kidnapper;
            }
        }
        > .disabled > a {
            &,
            &:hover,
                &:focus {
                color: $jaffa;;
                background-color: darken($kidnapper, 6.5%);
            }
        }
    }

    .navbar-toggle {
        border-color: darken($kidnapper, 6.5%);
        &:hover,
            &:focus {
            background-color: $kidnapper;
        }
        .icon-bar {
            background-color: $kidnapper;
        }
    }

    .dropdown-menu {

        background-color:$kidnapper;
        > li > a {
            color: $jaffa;
            background-color:$kidnapper;
            &:hover,
                &:focus {
                color:  darken($jaffa, 6.5%);
                background-color: lighten($kidnapper, 6.5%);
            }
        }
        > .active > a {
            &,
            &:hover,
                &:focus {
                color:  darken($jaffa, 6.5%);
                background-color: lighten($kidnapper, 6.5%);
            }
        }
        > .disabled > a {
            &,
            &:hover,
                &:focus {
                color: $navbar-default-link-disabled-color;
                background-color: $navbar-default-link-disabled-bg;
            }
        }

    }

    // Dropdown menu items
    .navbar-nav {
        > .open > a {
            &,
            &:hover,
                &:focus {
                background-color: darken($jaffa, 6.5%);
                color: lighten($kidnapper, 6.5%);
            }
        }

        + .container {
            padding-left: 160px;
        }
    }
}