<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/onlinelearningplatform</property>
    <property name="hibernate.connection.username">olp</property>
    <property name="hibernate.connection.password">olppassword1</property>
    <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property> 
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/MultipleChoiceOptions.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/ContentProvider.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/MultipleChoiceAnswer.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/MultipleChoiceQuestion.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/CourseBranch.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/Lecture.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/CourseType.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/Course.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
