<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/onlinelearningplatform</property>
    <property name="hibernate.connection.username">olp</property>
    <property name="hibernate.connection.password">olppassword1</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/ContentProviderPersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/CourseBranchPersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/CoursePersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/CourseTypePersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/LecturePersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/MultipleChoiceAnswerPersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/MultipleChoiceOptionsPersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/MultipleChoiceQuestionPersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/VerificationtokenPersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/UserPersistance.hbm.xml"/>
    <mapping resource="se/wegelius/olpstudenthandler/model/persistance/PlaylistPersistance.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
